# Quan trọng, dùng để liên kết tiến trình bot với Discord
BOT_TOKEN=''
DEV_TOKEN=''

# MySQL configuration for verification
VERIFICATION='False' # Set to True to enable verification
MYSQL_HOST=''
MYSQL_USERNAME=''
MYSQL_PASSWORD=''
MYSQL_DATABASE=''
ROLE_ID='' # Role ID to assign to verified users

# Tùy chọn, dùng để hiển thị ảnh bìa của bài hát từ nguồn khác (Không phải Spotify)
IMGUR_CLIENT_ID=''


# Token công khai để lấy lời bài hát
MUSIXMATCH_TOKEN='2409095212d200314bee4e9eedc62a9325d7f3c264baa9c95a70b2'


# Yêu cầu cho Python Protocol Buffers
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION='python'

# Streaming settings (youtube, spotify, deezer)
DEFAULT_STREAMING_SERVICE='youtube'

# Cấu hình tính năng Chatbot
CHATBOT_ENABLED=False
GEMINI_API_KEY=''
PINECONE_API_KEY=''
CHATBOT_PREFIX='!' # Lưu ý: Khi sửa prefix của chatbot, vui lòng sửa cấu trúc liên quan ở dòng 180 và 189 ở commands/help.py
CHATBOT_TEMPERATURE=0.7
CHATBOT_TIMEOUT=300
CHATBOT_TIMEZONE='Asia/Ho_Chi_Minh'
CHATBOT_WHITELIST=["123", "245"]
CHATBOT_EMOTES='[{}]' #E.G: {'Happy': <:emote1:1234567890123456789>, 'Sad': <:sad:1234567890123456789>}



# Cấu hình chatbot Gemini
GEMINI_MODEL='gemini-2.0-flash-exp'
GEMINI_UTILS_MODEL='gemini-2.0-flash-exp'
GEMINI_MAX_OUTPUT_TOKEN=512
GEMINI_MAX_CONTENT_SIZE=4096
GEMINI_HISTORY_SIZE=20
GEMINI_SAFETY_SETTINGS='[{"qcategory":"HARM_CATEGORY_DANGEROUS","threshold":"BLOCK_NONE"},{"category":"HARM_CATEGORY_HARASSMENT","threshold":"BLOCK_NONE"},{"category":"HARM_CATEGORY_HATE_SPEECH","threshold":"BLOCK_NONE"},{"category":"HARM_CATEGORY_SEXUALLY_EXPLICIT","threshold":"BLOCK_NONE"},{"category":"HARM_CATEGORY_DANGEROUS_CONTENT","threshold":"BLOCK_NONE"}]'
GEMINI_MAX_OUTPUT_TOKEN=500
GEMINI_MAX_CONTENT_SIZE='[{"text":"200000","image":"10000000","audio":"7000000","video":"2000000"}]'

# Cấu hình Spotify
# Dùng để kích hoạt tính năng các tính năng phát nhạc thông qua Spotify (yêu cầu Spotify Premium)
SPOTIFY_ENABLED='False'
SPOTIFY_API_ENABLED='False'
SPOTIFY_TOP_COUNTRY='VN'
SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI='https://example.com/callback'


# Cấu hình Deezer
# Dùng để kích hoạt tính năng phát nhạc chất lượng cao từ Deezer (yêu cầu Deezer Premium)
# Hướng dẫn lấy ARL trên trình duyệt nhân Chromium (Chrome, Edge...): F12 -> Application -> Cookies -> URL -> arl
DEEZER_ENABLED='False'
DEEZER_ARL=''

# Cấu hình tải lên xô S3
# Dùng trong trường hợp máy chú hiện tại không đủ khả năng để gửi các tệp bài hát lớn
UPLOAD_TO_S3_ENABLED=true
ENDPOINT_URL=''
AWS_SECRET_KEY_ID=''
AWS_SECRET_KEY=''
BUCKET_NAME=''
CUSTOM_DOMAIN=''


# Cấu hình Onsei
ONSEI_WHITELIST='["mp3"]'
ONSEI_BLACKLIST='[]'


# Cấu hình cache
CACHE_SIZE=100
CACHE_EXPIRY=2592000
TEMP_FOLDER='temp'


# Cấu hình Pinecone
PINECONE_RECALL_WINDOW=10
PINECONE_INDEX_NAME='ugoku'

# Cấu hình khác
AUTO_LEAVE_DURATION=900
DEFAULT_AUDIO_VOLUME=40
DEFAULT_EMBED_COLOR='(145, 153, 252)'
LANGUAGES='Vietnamese'
